<!DOCTYPE html>
<html>
  <head>
    <title>Inventory Management System</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/listStyle.css">
  </head>
<body>
    <nav class="sidebar">
      <h2><a href="/">IMS</a></h2>
      <div class="nav-links-container"><!-- Used to position links properly -->
        <ul>
          <li><a href="/items">All Items</a></li>
          <li><a href="/categories">All categories</a></li>
          <li><a href="/items/create">Add New Item</a></li>
          <li><a href="/categories/create">Add New Category</a></li>
        </ul>
      </div>
    </nav>
    <section class="main">
      <h1>All Items</h1>
      <div class="items-container">
        <% data.items.forEach(item => { %>
          <a href=<%= item.url %>><%= item.name %></a>
        <% }) %>
      </div>
    </section>
</body>