<!DOCTYPE html>
<html>
  <head>
    <title>Inventory Management System</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav class="sidebar">
      <h2>IMS</h2>
      <div class="nav-links-container"><!-- Used to position links properly -->
        <ul>
          <li><a href="">All Items</a></li>
          <li><a href="">All categories</a></li>
          <li><a href="">Add New Item</a></li>
          <li><a href="">Add New Category</a></li>
        </ul>
      </div>
    </nav>
    <section class="main">
      <h1>Inventory Management System</h1>
      <p>Welcome to the Inventory Management System (IMS)!</p>
      <p>To get started just use the navigation menu to choose what to do.</p>
      <hr>
      <p>Here are some stats:</p>
      <div class="data-container">
        <% for(let i = 1; i <= data.itemCount; i++) { %>
          <div class="data-item"></div>
        <% } %>  
      </div>
    </section>
  </body>
  <script></script>
</html>
