<!DOCTYPE html>
<html>
  <head>
    <title>Inventory Management System</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/itemStyle.css">
  </head>
<body>
    <nav class="sidebar">
      <h2>IMS</h2>
      <div class="nav-links-container"><!-- Used to position links properly -->
        <ul>
          <li><a href="/items">All Items</a></li>
          <li><a href="/categories">All categories</a></li>
          <li><a href="">Add New Item</a></li>
          <li><a href="">Add New Category</a></li>
        </ul>
      </div>
    </nav>
    <section class="main">
      <h1><%= data.name %></h1>
      <p><%= data.description %></p>
      <div class="categories-container">
        <p>Categories: 
        <% categories.forEach(category => { %>
          <%= category.name %>
        <% }) %>
        </p>
      </div>
    </section>
</body>